In [86]:
import pandas as pd
data=pd.read_csv('final_news.csv')
data

            Date                                               news  output
0     02-01-2020  Sensex rises over 100 points; Nifty reclaims 1...       2
1     03-01-2020  Corporate affairs min says no illegality in co...       1
2     03-01-2020                SBI looks to divest 1% stake in NSE       2
3     03-01-2020    DKD family war to air Grand Finale on January 5       1
4     03-01-2020  After Cyrus Mistry’s exit, growing under N Cha...       2
...          ...                                                ...     ...
2227  28-09-2023                 UK’s Old War Office opens as hotel       1
2228  29-09-2023   Sensex falls 610 pts on selling spree, weak cues       0
2229  30-09-2023        US inflation expectations fall in September       1
2230  30-09-2023  Dussehra war for Shivaji Park begins anew betw...       1
2231  30-09-2023             Inflation in Europe dips to 2-year low       2

[2232 rows x 3 columns]

In [87]:
date=data.pop('Date')
date

0       02-01-2020
1       03-01-2020
2       03-01-2020
3       03-01-2020
4       03-01-2020
           ...
2227    28-09-2023
2228    29-09-2023
2229    30-09-2023
2230    30-09-2023
2231    30-09-2023
Name: Date, Length: 2232, dtype: object

In [88]:
daten=[]
from functools import reduce
for d in date:
    st=str(d)
    li=st.split("-")
    li.reverse()
    lis = reduce(lambda a, b : a+ "-" +str(b),li)
    daten.append(lis)
daten

['2020-01-02',
 '2020-01-03',
 '2020-01-03',
 '2020-01-03',
 '2020-01-03',
 '2020-01-04',
 '2020-01-04',
 '2020-01-04',
 '2020-01-04',
 '2020-01-04',
 '2020-01-04',
 '2020-01-05',
 '2020-01-05',
 '2020-01-07',
 '2020-01-07',
 '2020-01-08',
 '2020-01-08',
 '2020-01-10',
 '2020-01-10',
 '2020-01-11',
 '2020-01-12',
 '2020-01-14',
 '2020-01-14',
 '2020-01-15',
 '2020-01-15',
 '2020-01-15',
 '2020-01-16',
 '2020-01-17',
 '2020-01-17',
 '2020-01-17',
 '2020-01-19',
 '2020-01-19',
 '2020-01-21',
 '2020-01-22',
 '2020-01-22',
 '2020-01-23',
 '2020-01-23',
 '2020-01-23',
 '2020-01-23',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-27',
 '2020-01-27',
 '2020-01-27',
 '2020-01-28',
 '2020-01-28',
 '2020-01-28',
 '2020-01-29',
 '2020-01-29',
 '2020-01-29',
 '2020-01-30',
 '2020-02-01',
 '2020-02-02',
 '2020-02-02',
 '2020-02-03',
 '2020-02-03',
 '2020-02-05',
 '2020-02-05',
 '2020-02-07',
 '2020-02-13',
 '2020-02-18',
 '2020-02-19',
 '2020-02-19',
 '2020-02-21',
 '2020-02-23',
 '2020-02-23',
 '2020-02-25',
 '2020-02-25',
 '2020-02-27',
 '2020-02-27',
 '2020-02-28',
 '2020-02-28',
 '2020-02-29',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-05',
 '2020-03-07',
 '2020-03-07',
 '2020-03-07',
 '2020-03-07',
 '2020-03-08',
 '2020-03-10',
 '2020-03-11',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-13',
 '2020-03-15',
 '2020-03-15',
 '2020-03-16',
 '2020-03-16',
 '2020-03-17',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-20',
 '2020-03-21',
 '2020-03-21',
 '2020-03-22',
 '2020-03-22',
 '2020-03-22',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-27',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-28',
 '2020-03-29',
 '2020-03-29',
 '2020-03-30',
 '2020-03-30',
 '2020-03-30',
 '2020-03-31',
 '2020-03-31',
 '2020-03-31',
 '2020-04-01',
 '2020-04-01',
 '2020-04-01',
 '2020-04-02',
 '2020-04-02',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-04',
 '2020-04-05',
 '2020-04-07',
 '2020-04-07',
 '2020-04-08',
 '2020-04-08',
 '2020-04-08',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-14',
 '2020-04-15',
 '2020-04-15',
 '2020-04-16',
 '2020-04-16',
 '2020-04-16',
 '2020-04-16',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-21',
 '2020-04-21',
 '2020-04-22',
 '2020-04-22',
 '2020-04-22',
 '2020-04-22',
 '2020-04-23',
 '2020-04-26',
 '2020-04-26',
 '2020-04-26',
 '2020-04-26',
 '2020-04-27',
 '2020-04-28',
 '2020-04-28',
 '2020-04-28',
 '2020-04-29',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-05',
 '2020-05-10',
 '2020-05-10',
 '2020-05-11',
 '2020-05-13',
 '2020-05-14',
 '2020-05-15',
 '2020-05-15',
 '2020-05-15',
 '2020-05-15',
 '2020-05-17',
 '2020-05-18',
 '2020-05-19',
 '2020-05-19',
 '2020-05-20',
 '2020-05-22',
 '2020-05-22',
 '2020-05-23',
 '2020-05-23',
 '2020-05-23',
 '2020-05-26',
 '2020-05-28',
 '2020-05-28',
 '2020-05-31',
 '2020-06-01',
 '2020-06-02',
 '2020-06-02',
 '2020-06-03',
 '2020-06-09',
 '2020-06-12',
 '2020-06-12',
 '2020-06-12',
 '2020-06-13',
 '2020-06-13',
 '2020-06-14',
 '2020-06-17',
 '2020-06-17',
 '2020-06-17',
 '2020-06-18',
 '2020-06-18',
 '2020-06-19',
 '2020-06-19',
 '2020-06-20',
 '2020-06-20',
 '2020-06-20',
 '2020-06-21',
 '2020-06-21',
 '2020-06-22',
 '2020-06-24',
 '2020-06-24',
 '2020-06-27',
 '2020-06-27',
 '2020-06-27',
 '2020-06-30',
 '2020-07-01',
 '2020-07-01',
 '2020-07-01',
 '2020-07-03',
 '2020-07-05',
 '2020-07-07',
 '2020-07-08',
 '2020-07-11',
 '2020-07-16',
 '2020-07-16',
 '2020-07-16',
 '2020-07-17',
 '2020-07-18',
 '2020-07-19',
 '2020-07-20',
 '2020-07-20',
 '2020-07-20',
 '2020-07-22',
 '2020-07-22',
 '2020-07-23',
 '2020-07-24',
 '2020-07-25',
 '2020-07-25',
 '2020-07-26',
 '2020-07-27',
 '2020-07-27',
 '2020-07-28',
 '2020-07-29',
 '2020-07-29',
 '2020-07-30',
 '2020-08-01',
 '2020-08-03',
 '2020-08-04',
 '2020-08-04',
 '2020-08-05',
 '2020-08-05',
 '2020-08-05',
 '2020-08-07',
 '2020-08-08',
 '2020-08-08',
 '2020-08-11',
 '2020-08-12',
 '2020-08-12',
 '2020-08-14',
 '2020-08-14',
 '2020-08-15',
 '2020-08-16',
 '2020-08-16',
 '2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-19',
 '2020-08-21',
 '2020-08-21',
 '2020-08-22',
 '2020-08-23',
 '2020-08-24',
 '2020-08-24',
 '2020-08-24',
 '2020-08-24',
 '2020-08-26',
 '2020-08-26',
 '2020-08-26',
 '2020-08-27',
 '2020-08-27',
 '2020-08-28',
 '2020-08-28',
 '2020-08-28',
 '2020-08-29',
 '2020-08-29',
 '2020-08-29',
 '2020-08-29',
 '2020-08-29',
 '2020-08-30',
 '2020-08-31',
 '2020-09-01',
 '2020-09-01',
 '2020-09-05',
 '2020-09-05',
 '2020-09-05',
 '2020-09-06',
 '2020-09-07',
 '2020-09-11',
 '2020-09-12',
 '2020-09-13',
 '2020-09-15',
 '2020-09-16',
 '2020-09-18',
 '2020-09-19',
 '2020-09-19',
 '2020-09-20',
 '2020-09-20',
 '2020-09-21',
 '2020-09-22',
 '2020-09-23',
 '2020-09-23',
 '2020-09-25',
 '2020-09-25',
 '2020-09-26',
 '2020-09-26',
 '2020-09-26',
 '2020-10-01',
 '2020-10-02',
 '2020-10-04',
 '2020-10-06',
 '2020-10-08',
 '2020-10-08',
 '2020-10-09',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-11',
 '2020-10-12',
 '2020-10-13',
 '2020-10-14',
 '2020-10-16',
 '2020-10-16',
 '2020-10-18',
 '2020-10-23',
 '2020-10-24',
 '2020-10-26',
 '2020-10-28',
 '2020-10-29',
 '2020-10-31',
 '2020-10-31',
 '2020-11-01',
 '2020-11-02',
 '2020-11-02',
 '2020-11-03',
 '2020-11-04',
 '2020-11-04',
 '2020-11-04',
 '2020-11-06',
 '2020-11-07',
 '2020-11-07',
 '2020-11-08',
 '2020-11-08',
 '2020-11-08',
 '2020-11-09',
 '2020-11-10',
 '2020-11-10',
 '2020-11-10',
 '2020-11-10',
 '2020-11-10',
 '2020-11-10',
 '2020-11-11',
 '2020-11-11',
 '2020-11-11',
 '2020-11-12',
 '2020-11-12',
 '2020-11-12',
 '2020-11-12',
 '2020-11-12',
 '2020-11-13',
 '2020-11-13',
 '2020-11-13',
 '2020-11-13',
 '2020-11-13',
 '2020-11-14',
 '2020-11-14',
 '2020-11-14',
 '2020-11-14',
 '2020-11-15',
 '2020-11-15',
 '2020-11-15',
 '2020-11-15',
 '2020-11-15',
 '2020-11-15',
 '2020-11-15',
 '2020-11-17',
 '2020-11-17',
 '2020-11-17',
 '2020-11-17',
 '2020-11-18',
 '2020-11-18',
 '2020-11-18',
 '2020-11-19',
 '2020-11-20',
 '2020-11-20',
 '2020-11-20',
 '2020-11-20',
 '2020-11-22',
 '2020-11-22',
 '2020-11-25',
 '2020-11-25',
 '2020-11-25',
 '2020-11-25',
 '2020-11-26',
 '2020-11-26',
 '2020-11-26',
 '2020-11-27',
 '2020-11-28',
 '2020-11-30',
 '2020-12-01',
 '2020-12-02',
 '2020-12-02',
 '2020-12-03',
 '2020-12-05',
 '2020-12-05',
 '2020-12-08',
 '2020-12-08',
 '2020-12-08',
 '2020-12-09',
 '2020-12-09',
 '2020-12-10',
 '2020-12-11',
 '2020-12-15',
 '2020-12-16',
 '2020-12-16',
 '2020-12-17',
 '2020-12-17',
 '2020-12-17',
 '2020-12-18',
 '2020-12-18',
 '2020-12-18',
 '2020-12-19',
 '2020-12-20',
 '2020-12-21',
 '2020-12-21',
 '2020-12-22',
 '2020-12-23',
 '2020-12-23',
 '2020-12-24',
 '2020-12-25',
 '2020-12-26',
 '2020-12-28',
 '2020-12-28',
 '2020-12-29',
 '2020-12-29',
 '2020-12-29',
 '2020-12-29',
 '2020-12-30',
 '2020-12-30',
 '2020-12-30',
 '2020-12-31',
 '2021-01-01',
 '2021-01-01',
 '2021-01-01',
 '2021-01-01',
 '2021-01-02',
 '2021-01-03',
 '2021-01-04',
 '2021-01-04',
 '2021-01-04',
 '2021-01-05',
 '2021-01-05',
 '2021-01-06',
 '2021-01-07',
 '2021-01-07',
 '2021-01-08',
 '2021-01-09',
 '2021-01-09',
 '2021-01-11',
 '2021-01-12',
 '2021-01-12',
 '2021-01-15',
 '2021-01-15',
 '2021-01-15',
 '2021-01-15',
 '2021-01-16',
 '2021-01-19',
 '2021-01-19',
 '2021-01-20',
 '2021-01-21',
 '2021-01-21',
 '2021-01-21',
 '2021-01-21',
 '2021-01-22',
 '2021-01-23',
 '2021-01-23',
 '2021-01-25',
 '2021-01-25',
 '2021-01-26',
 '2021-01-26',
 '2021-01-27',
 '2021-01-28',
 '2021-01-29',
 '2021-01-29',
 '2021-01-30',
 '2021-01-30',
 '2021-01-30',
 '2021-01-30',
 '2021-02-01',
 '2021-02-01',
 '2021-02-02',
 '2021-02-03',
 '2021-02-03',
 '2021-02-05',
 '2021-02-06',
 '2021-02-06',
 '2021-02-06',
 '2021-02-09',
 '2021-02-09',
 '2021-02-10',
 '2021-02-10',
 '2021-02-10',
 '2021-02-11',
 '2021-02-12',
 '2021-02-13',
 '2021-02-13',
 '2021-02-15',
 '2021-02-16',
 '2021-02-16',
 '2021-02-17',
 '2021-02-17',
 '2021-02-17',
 '2021-02-17',
 '2021-02-18',
 '2021-02-18',
 '2021-02-19',
 '2021-02-19',
 '2021-02-20',
 '2021-02-22',
 '2021-02-22',
 '2021-02-23',
 '2021-02-26',
 '2021-02-27',
 '2021-02-27',
 '2021-02-27',
 '2021-03-02',
 '2021-03-02',
 '2021-03-04',
 '2021-03-04',
 '2021-03-04',
 '2021-03-05',
 '2021-03-07',
 '2021-03-08',
 '2021-03-11',
 '2021-03-11',
 '2021-03-11',
 '2021-03-11',
 '2021-03-11',
 '2021-03-12',
 '2021-03-13',
 '2021-03-14',
 '2021-03-15',
 '2021-03-16',
 '2021-03-16',
 '2021-03-17',
 '2021-03-18',
 '2021-03-18',
 '2021-03-19',
 '2021-03-19',
 '2021-03-19',
 '2021-03-20',
 '2021-03-20',
 '2021-03-20',
 '2021-03-20',
 '2021-03-23',
 '2021-03-24',
 '2021-03-24',
 '2021-03-24',
 '2021-03-25',
 '2021-03-26',
 '2021-03-26',
 '2021-03-26',
 '2021-03-26',
 '2021-03-28',
 '2021-03-29',
 '2021-03-29',
 '2021-03-31',
 '2021-03-31',
 '2021-04-01',
 '2021-04-03',
 '2021-04-04',
 '2021-04-04',
 '2021-04-04',
 '2021-04-04',
 '2021-04-05',
 '2021-04-07',
 '2021-04-08',
 '2021-04-10',
 '2021-04-13',
 '2021-04-13',
 '2021-04-13',
 '2021-04-16',
 '2021-04-16',
 '2021-04-17',
 '2021-04-17',
 '2021-04-19',
 '2021-04-20',
 '2021-04-20',
 '2021-04-22',
 '2021-04-26',
 '2021-04-28',
 '2021-04-29',
 '2021-04-29',
 '2021-05-01',
 '2021-05-01',
 '2021-05-02',
 '2021-05-03',
 '2021-05-04',
 '2021-05-06',
 '2021-05-06',
 '2021-05-07',
 '2021-05-07',
 '2021-05-10',
 '2021-05-11',
 '2021-05-12',
 '2021-05-12',
 '2021-05-12',
 '2021-05-13',
 '2021-05-15',
 '2021-05-16',
 '2021-05-16',
 '2021-05-17',
 '2021-05-17',
 '2021-05-17',
 '2021-05-18',
 '2021-05-18',
 '2021-05-18',
 '2021-05-18',
 '2021-05-18',
 '2021-05-20',
 '2021-05-23',
 '2021-05-25',
 '2021-05-25',
 '2021-05-25',
 '2021-05-27',
 '2021-05-27',
 '2021-05-27',
 '2021-05-29',
 '2021-05-29',
 '2021-05-29',
 '2021-05-29',
 '2021-05-30',
 '2021-06-02',
 '2021-06-03',
 '2021-06-05',
 '2021-06-05',
 '2021-06-05',
 '2021-06-06',
 '2021-06-07',
 '2021-06-08',
 '2021-06-08',
 '2021-06-08',
 '2021-06-15',
 '2021-06-16',
 '2021-06-16',
 '2021-06-17',
 '2021-06-17',
 '2021-06-19',
 '2021-06-20',
 '2021-06-20',
 '2021-06-20',
 '2021-06-21',
 '2021-06-22',
 '2021-06-22',
 '2021-06-24',
 '2021-06-24',
 '2021-06-26',
 '2021-06-29',
 '2021-06-29',
 '2021-06-30',
 '2021-06-30',
 '2021-07-01',
 '2021-07-01',
 '2021-07-02',
 '2021-07-06',
 '2021-07-06',
 '2021-07-06',
 '2021-07-06',
 '2021-07-07',
 '2021-07-07',
 '2021-07-15',
 '2021-07-15',
 '2021-07-17',
 '2021-07-18',
 '2021-07-19',
 '2021-07-25',
 '2021-07-27',
 '2021-07-31',
 '2021-08-01',
 '2021-08-02',
 '2021-08-04',
 '2021-08-04',
 '2021-08-04',
 '2021-08-04',
 '2021-08-05',
 '2021-08-05',
 '2021-08-07',
 '2021-08-07',
 '2021-08-08',
 '2021-08-10',
 '2021-08-10',
 '2021-08-10',
 '2021-08-12',
 '2021-08-13',
 '2021-08-13',
 '2021-08-13',
 '2021-08-13',
 '2021-08-14',
 '2021-08-14',
 '2021-08-14',
 '2021-08-16',
 '2021-08-16',
 '2021-08-16',
 '2021-08-16',
 '2021-08-19',
 '2021-08-20',
 '2021-08-21',
 '2021-08-25',
 '2021-08-26',
 '2021-08-26',
 '2021-08-27',
 '2021-08-28',
 '2021-08-28',
 '2021-08-29',
 '2021-08-31',
 '2021-09-01',
 '2021-09-01',
 '2021-09-03',
 '2021-09-03',
 '2021-09-04',
 '2021-09-05',
 '2021-09-05',
 '2021-09-10',
 '2021-09-11',
 '2021-09-13',
 '2021-09-15',
 '2021-09-16',
 '2021-09-16',
 '2021-09-16',
 '2021-09-16',
 '2021-09-17',
 '2021-09-17',
 '2021-09-18',
 '2021-09-20',
 '2021-09-20',
 '2021-09-21',
 '2021-09-22',
 '2021-09-22',
 '2021-09-23',
 '2021-09-24',
 '2021-09-25',
 '2021-09-25',
 '2021-09-25',
 '2021-09-25',
 '2021-09-28',
 '2021-09-29',
 '2021-10-01',
 '2021-10-01',
 '2021-10-01',
 '2021-10-01',
 '2021-10-04',
 '2021-10-04',
 '2021-10-07',
 '2021-10-07',
 '2021-10-07',
 '2021-10-08',
 '2021-10-09',
 '2021-10-09',
 '2021-10-09',
 '2021-10-10',
 '2021-10-10',
 '2021-10-10',
 '2021-10-11',
 '2021-10-12',
 '2021-10-12',
 '2021-10-12',
 '2021-10-12',
 '2021-10-13',
 '2021-10-14',
 '2021-10-14',
 '2021-10-14',
 '2021-10-14',
 '2021-10-15',
 '2021-10-15',
 '2021-10-15',
 '2021-10-15',
 '2021-10-16',
 '2021-10-16',
 '2021-10-19',
 '2021-10-19',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-20',
 '2021-10-21',
 '2021-10-21',
 '2021-10-21',
 '2021-10-24',
 '2021-10-24',
 '2021-10-25',
 '2021-10-25',
 '2021-10-26',
 '2021-10-29',
 '2021-10-29',
 '2021-10-29',
 '2021-10-29',
 '2021-10-29',
 '2021-11-01',
 '2021-11-02',
 '2021-11-03',
 '2021-11-03',
 '2021-11-04',
 '2021-11-05',
 '2021-11-05',
 '2021-11-10',
 '2021-11-10',
 '2021-11-10',
 '2021-11-11',
 '2021-11-13',
 '2021-11-13',
 '2021-11-16',
 '2021-11-16',
 '2021-11-17',
 '2021-11-18',
 '2021-11-20',
 '2021-11-20',
 '2021-11-20',
 '2021-11-22',
 '2021-11-22',
 '2021-11-23',
 '2021-11-23',
 '2021-11-23',
 '2021-11-24',
 '2021-11-24',
 '2021-11-25',
 '2021-11-27',
 '2021-11-28',
 '2021-11-30',
 '2021-11-30',
 '2021-11-30',
 '2021-11-30',
 '2021-11-30',
 '2021-12-01',
 '2021-12-01',
 '2021-12-02',
 '2021-12-02',
 '2021-12-02',
 '2021-12-02',
 '2021-12-03',
 '2021-12-03',
 '2021-12-03',
 '2021-12-05',
 '2021-12-06',
 '2021-12-07',
 '2021-12-07',
 '2021-12-08',
 '2021-12-09',
 '2021-12-09',
 '2021-12-09',
 '2021-12-09',
 '2021-12-14',
 '2021-12-14',
 '2021-12-14',
 '2021-12-15',
 '2021-12-16',
 '2021-12-16',
 '2021-12-18',
 '2021-12-18',
 '2021-12-18',
 '2021-12-21',
 '2021-12-21',
 '2021-12-22',
 '2021-12-22',
 '2021-12-23',
 '2021-12-27',
 '2021-12-27',
 '2021-12-28',
 '2021-12-28',
 '2021-12-28',
 '2021-12-28',
 '2021-12-29',
 '2021-12-30',
 '2022-01-01',
 '2022-01-01',
 '2022-01-03',
 '2022-01-04',
 '2022-01-04',
 '2022-01-04',
 '2022-01-04',
 '2022-01-05',
 '2022-01-05',
 '2022-01-06',
 '2022-01-06',
 '2022-01-06',
 '2022-01-06',
 '2022-01-07',
 '2022-01-07',
 '2022-01-08',
 '2022-01-08',
 '2022-01-08',
 '2022-01-08',
 '2022-01-09',
 '2022-01-09',
 '2022-01-10',
 '2022-01-10',
 '2022-01-10',
 '2022-01-12',
 '2022-01-12',
 '2022-01-12',
 '2022-01-12',
 '2022-01-13',
 '2022-01-13',
 '2022-01-13',
 '2022-01-13',
 '2022-01-13',
 '2022-01-13',
 '2022-01-13',
 '2022-01-13',
 '2022-01-13',
 '2022-01-14',
 '2022-01-14',
 '2022-01-14',
 '2022-01-14',
 '2022-01-14',
 '2022-01-15',
 '2022-01-15',
 '2022-01-16',
 '2022-01-16',
 '2022-01-17',
 '2022-01-18',
 '2022-01-18',
 '2022-01-19',
 '2022-01-19',
 '2022-01-19',
 '2022-01-19',
 '2022-01-19',
 '2022-01-20',
 '2022-01-20',
 '2022-01-20',
 '2022-01-20',
 '2022-01-21',
 '2022-01-21',
 '2022-01-21',
 '2022-01-21',
 '2022-01-21',
 '2022-01-22',
 '2022-01-22',
 '2022-01-23',
 '2022-01-24',
 '2022-01-24',
 '2022-01-24',
 '2022-01-25',
 '2022-01-25',
 '2022-01-25',
 '2022-01-25',
 '2022-01-25',
 '2022-01-25',
 '2022-01-25',
 '2022-01-26',
 '2022-01-26',
 '2022-01-26',
 '2022-01-26',
 '2022-01-26',
 '2022-01-26',
 '2022-01-27',
 '2022-01-27',
 '2022-01-27',
 '2022-01-27',
 '2022-01-27',
 '2022-01-28',
 '2022-01-28',
 '2022-01-28',
 '2022-01-28',
 '2022-01-29',
 '2022-01-29',
 '2022-01-29',
 '2022-01-29',
 '2022-01-30',
 ...]

In [89]:
data

                                                   news  output
0     Sensex rises over 100 points; Nifty reclaims 1...       2
1     Corporate affairs min says no illegality in co...       1
2                   SBI looks to divest 1% stake in NSE       2
3       DKD family war to air Grand Finale on January 5       1
4     After Cyrus Mistry’s exit, growing under N Cha...       2
...                                                 ...     ...
2227                 UK’s Old War Office opens as hotel       1
2228   Sensex falls 610 pts on selling spree, weak cues       0
2229        US inflation expectations fall in September       1
2230  Dussehra war for Shivaji Park begins anew betw...       1
2231             Inflation in Europe dips to 2-year low       2

[2232 rows x 2 columns]

In [90]:
data.insert(column='Date',value=daten,loc=0)

In [91]:
data

            Date                                               news  output
0     2020-01-02  Sensex rises over 100 points; Nifty reclaims 1...       2
1     2020-01-03  Corporate affairs min says no illegality in co...       1
2     2020-01-03                SBI looks to divest 1% stake in NSE       2
3     2020-01-03    DKD family war to air Grand Finale on January 5       1
4     2020-01-03  After Cyrus Mistry’s exit, growing under N Cha...       2
...          ...                                                ...     ...
2227  2023-09-28                 UK’s Old War Office opens as hotel       1
2228  2023-09-29   Sensex falls 610 pts on selling spree, weak cues       0
2229  2023-09-30        US inflation expectations fall in September       1
2230  2023-09-30  Dussehra war for Shivaji Park begins anew betw...       1
2231  2023-09-30             Inflation in Europe dips to 2-year low       2

[2232 rows x 3 columns]

In [92]:
data.to_csv('news_final.csv')

In [93]:
print(data['Date'][0])

2020-01-02

In [94]:
data.drop(columns=['news'],inplace=True)

In [95]:
data

            Date  output
0     2020-01-02       2
1     2020-01-03       1
2     2020-01-03       2
3     2020-01-03       1
4     2020-01-03       2
...          ...     ...
2227  2023-09-28       1
2228  2023-09-29       0
2229  2023-09-30       1
2230  2023-09-30       1
2231  2023-09-30       2

[2232 rows x 2 columns]

In [96]:
news= pd.DataFrame(columns=['Date','output'])
news

Empty DataFrame
Columns: [Date, output]
Index: []

In [97]:
i=0
while i<data.shape[0]:
    date=data['Date'][i]
    list=[]
    for j in range(i,data.shape[0]):
        if date == data['Date'][j]:
            list.append(data['output'][j])
        else:
            i=j-1
            break
    total=len(list)
    p0=list.count(0)/total
    p1=list.count(1)/total
    p2=list.count(2)/total
    max=0
    if p0>=p1 and p0>=p2:
        max=0
    elif p2>=p0 and p2>=p1:
        max=2
    elif p1>=p0 and p1>=p2:
        if p0==0 and p2==0:
            max=1
        elif p1!=0 and p1>p2:
            max=1
        elif p1!=0 and p1<p2:
            max=2
        elif p2!=0 and p2>p1:
            max=2
        elif p2!=0 and p1>p2:
            max=1
    news.loc[len(news.index)] = [date,max]
    i=i+1

In [98]:
news

           Date  output
0    2020-01-02       2
1    2020-01-03       2
2    2020-01-04       0
3    2020-01-05       0
4    2020-01-07       0
..          ...     ...
969  2023-09-28       1
970  2023-09-29       0
971  2023-09-30       1
972  2023-09-30       2
973  2023-09-30       2

[974 rows x 2 columns]

In [99]:
news=news.drop([971,972])

In [100]:
news

           Date  output
0    2020-01-02       2
1    2020-01-03       2
2    2020-01-04       0
3    2020-01-05       0
4    2020-01-07       0
..          ...     ...
967  2023-09-25       1
968  2023-09-26       1
969  2023-09-28       1
970  2023-09-29       0
973  2023-09-30       2

[972 rows x 2 columns]

In [102]:
news.to_csv('newsdata_final.csv')